:root {
  --slide-count: 9;
  --slide-height: 168.75px;
  --slide-width: 300px;
  --gap: 10px;
  --time: 30s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  /* background: #050e1f; */
}

.slider-container::before,
.slider-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
}
/*
.slider-container::before {
  left: 0;
  background-image: linear-gradient(to right, #091d3d, transparent); 
}

.slider-container::after {
  right: 0;
  background-image: linear-gradient(to left, #091d3d, transparent);
}
*/
.slider {
  position: relative;
    width: 1350px;
      height: calc(var(--slide-height) + 10px);
  overflow: hidden;
}

.slider-track {
  position: absolute;
  top: 0;
  display: flex;
}

.slide {
  width: var(--slide-width);
  height: var(--slide-height);
  border-radius: 10px;
  margin: 0 var(--gap);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.slide img {
  border-radius: inherit;
  transition: all 0.5s ease-in;
  user-select: none;
  opacity: 0.5;

}

.slide img:hover {
  transform: rotate(0.3deg) scale(1.05);
}

.scrollLeft {
  animation: scrollLeft var(--time) linear infinite;
}

.scrollRight {
  animation: scrollRight var(--time) linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(
      calc(-1 * var(--slide-count) * (var(--slide-width) + var(--gap) * 2))
    );
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(
      calc(-1 * var(--slide-count) * (var(--slide-width) + var(--gap) * 2))
    );
  }

  100% {
    transform: translateX(0);
  }
}

.slider-track:has(.slide img:hover) {
  animation-play-state: paused;
}

/* Media Queries */
@media (max-width: 1110px) {
  :root {
    --slide-height: 139px;
    --slide-width: 246px;
  }

  .slider {
    width: 1110px;
  }
}

@media (max-width: 860px) {
  :root {
   --slide-height: 108px;
    --slide-width: 191px;
  }

  .slider {
    width: 860px;
  }
}


@media (max-width: 660px) {
 :root {
   --slide-height: 83px;
    --slide-width: 147px;
  }

  .slider {
    width: 660px;
  }
}


@media (max-width: 460px) {
  :root {
   --slide-height: 116px;
    --slide-width: 206px;
  }

  .slider {
    width: 460px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5; /* Adjust as needed */
  z-index: 0;
}

.slider-container {
  position: relative;
  z-index: 1; /* make sure content is above overlay */
}

.main-txt{
    font-family: "Chela One", system-ui;
    justify-self: center;
}

.anime-wrapper{
        margin: 120px 0 0;
}

.man{
    width: 800px;
}